* {
    padding: 0;
    margin: 0;
    font-family: segoe UI Regular;
}

body{
    background: #232931;
}

header{
    height: 126px;
    
    
}

p {
    color: white;
    font-size: small;
}

.member1 {
    
    display: inline-block;
    height: 10px;
    width: 120px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    float: left;
}

.member2 {
    float: right;
    
    display: inline-block;
    height: 10px;
    width: 250px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    
}
.member3{
    float: left;
    
    display: inline-block;
    height: 10px;
    width: 100px;
    padding-top: 15px;
    padding-bottom: 50px;
    padding-right: 80px;
    padding-left: 50px;
}
.nomor1 {
    
    width: 85px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    background: #393E46;
}
strong{
    color: #4ECCA3;
}

.member4{
    float: right;
    
    height: 10px;
    width: 100px;
    padding-top: 15px;
    padding-bottom: 50px;
    padding-right: 80px;
    padding-left: 50px;
}
.nomor2{
    width: 85px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    background: #393E46;
}

a{
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    transition: .3s;
}

.utama{
    text-align: center;
    height: 435px;
}
.utama .stengah1{
    height: 217px;
}
.utama .stengah11{
    height: 100px;
}
.judul11{
    color: #4ECCA3;
    padding-bottom: 30px;
    padding-top: 5px;
    padding-left: 400px;
    font-size: 500%;
    padding-right: 120px;
    height: 135px;
    
    float: left;
}

.judul{
    color: #4ECCA3;
    padding-bottom: 30px;
    padding-top: 45px;
    padding-left: 30px;
    font-size: 900%;
    
    height: 135px;
    width: 800px;
    float: left;
}
.judul2{
    color: #4ECCA3;
    padding-bottom: 30px;
    padding-top: 5px;
    padding-left: 400px;
    font-size: 500%;
    padding-right: 120px;
    height: 135px;
    
    float: left;
}
.utama .stengah2{
    height: 217px;
}
.isi{
    height: 100px;
    padding-top: 60px;
    float: left;
    padding-left: 325px;
}

h1:hover{
    background-color: teal;
}


footer{
    height: 120px;
    
    
}
header div a:hover {
    color : rgb(0, 204, 255);
}

header div a{
    transition: .6s;
}

footer div a:hover{
    color: rgb(0, 204, 255);
}
footer div a{
    transition: .3s;
}
