* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

body{
    width: 100%;
    height: auto;
    background: #232931;
    align-content: center;
    justify-content: center;
}

#nomorsatu{
    height: auto;
    background-color: #eeeeee;
}

#nomordua{
    height: auto;
    background-color: #eeeeee;
}

header{
    height: 126px;
}

p {
    color: white;
    font-size: small;
}

.member1 {
    display: inline-block;
    height: 10px;
    width: 120px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    float: left;
}

.member2 {
    float: right;
    display: inline-block;
    height: 10px;
    width: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    
}
.member3{
    float: left;
    display: inline-block;
    height: 10px;
    width: 150px;
    padding-top: 15px;
    padding-bottom: 50px;
    padding-right: 80px;
    padding-left: 50px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.nomor1 {
    width: 100px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    background: #393E46;
}
strong{
    color: #4ECCA3;
}

.member4{
    float: right;
    height: 10px;
    width: 150px;
    padding-top: 15px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
}
.nomor2{
    width: 85px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    background: #393E46;
}

.utama{
    text-align: center;
    height: 435px;
}

.utama3{
    text-align: center;
    height: 435px;    
}

.utama3 .stengah11{
    height: 100px;
}
.utama .stengah1{
    height: 180px;
}
.utama .stengah11{
    height: 100px;
}
.judul11{
    color: #4ECCA3;
    padding-bottom: 30px;
    padding-top: 5px;
    padding-left: 400px;
    font-size: 500%;
    padding-right: 120px;
    height: 135px;
    float: left;
}

.judul{
    color: #4ECCA3;
    padding-bottom: 30px;
    padding-top: 45px;
    padding-left: 30px;
    font-size: 900%;
    height: 135px;
    width: 800px;
    float: left;
}
.judul2{
    color: #4ECCA3;
    padding-bottom: 30px;
    padding-top: 5px;
    padding-left: 400px;
    font-size: 500%;
    padding-right: 120px;
    height: 135px;
    float: left;
}
.utama .stengah2{
    height: 217px;
}

.container1 {
    height: auto;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
}

.isi {
    height: 100px;
    padding-top: 60px;
    float: left;
    padding-left: 325px;
    text-align: left;
}

.isinilai {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    height: 170px;
    justify-content: center;
    margin: 0 auto;
    text-align: left;
}

.isinilai .card{
    margin: 10px;
    padding: 5px;
    width: 220px;
}

h1:hover{
    background-color: teal;
}

#nomorsatu .member1 p{
    color: #232931;
    font-weight: bold;
}

#nomorsatu .container1 p{
    color: #232931;
    font-size: 30px;
    line-height: 35px;
}

#nomorsatu .member2 p{
    color: #232931;
    font-weight: bold;
}

#nomordua .member1 p{
    color: #232931;
    font-weight: bold;
}
#nomordua .member2 p{
    font-weight: bold;
    color: #232931;
}

#nomordua .isinilai p{
    color: #232931;
}

#nomordua .nilai p{
    font-size: 20px;
}

footer{
    height: 120px; 
}

.hal3{
    background-color: #eeeeee;
}
header div a:hover {
    color : rgb(0, 204, 255);
}

header div a{
    transition: .6s;
}

footer div a:hover{
    color: rgb(0, 204, 255);
}
footer div a{
    transition: .3s;
}